[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "==7.0.1"
testfixtures = "==6.18.5"
behave = "==1.2.6"
pexpect = "*"

[requires]
python_version = "3.8"
